body {
    width: 220px;
    padding: 2em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
}

#btn {
    width: 100%;
    padding: 0.25em 0.75em;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, sans-serif, 'GNU Unifont';
    font-weight: 400;
    color: #444;
    background: #eee;
    background-image: linear-gradient(#fff 2%,#ddd 95%, #bbb 100%);
    border: 1px solid #bbb;
    border-bottom: 1px solid #aaa;
    border-radius: 0.25em;
}

#btn:hover {
    color: #900;
    border-color: #999;
    box-shadow: inset 2px 2px 2px #bbb;
}

#btn:focus, button:active {
    outline: 1px dotted;
}

.colourSelect {
    margin-bottom: 1em;
}

.fontSelect {
    margin-bottom: 1em;
    width: fit-content;
}